.social-share-button .ssb-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: inline-block;
  height: 18px;
  width: 18px;
}

.social-share-button .ssb-twitter {
  background-image: url(/assets/social-share-button/twitter-7b64ce0117a85c5d52ed45c27707af61d9b0e0d590284baa287cfe87867b9ae1.svg);
}

.social-share-button .ssb-facebook {
  background-image: url(/assets/social-share-button/facebook-03210e1663ee772e93ed5d344cdb36657b68342821aaebe982f2f984915990b3.svg);
}

.social-share-button .ssb-google_bookmark {
  background-image: url(/assets/social-share-button/google_bookmark-bb4c960c0421cb7dce602d10e744692bcc1c54f323410f4965d508f96e2255ce.svg);
}

.social-share-button .ssb-google_plus {
  background-image: url(/assets/social-share-button/google_plus-50c049fbb29cd3346f1bf9349017b644bcd00a53b56bd156728850f57bd85c0a.svg);
}

.social-share-button .ssb-weibo {
  background-image: url(/assets/social-share-button/weibo-a345a6ca554e6f388da9eb35746bb0425cb018c16408ba82852c66d375245d6f.svg);
}

.social-share-button .ssb-qq {
  background-image: url(/assets/social-share-button/qq-4dbae8223fc7823f6d73bc7fbe113eb894f4c174ec3ae93103ca382c78a2bf67.svg);
}

.social-share-button .ssb-delicious {
  background-image: url(/assets/social-share-button/delicious-0c55f72f821aae5352691f13eb64bf3435573e2169d0720477ed367b2f1ed28e.svg);
}

.social-share-button .ssb-linkedin {
  background-image: url(/assets/social-share-button/linkedin-b7fd42895b291003c444a9c2acf867ea813671e0b725a5d7c05dbb13f5c0fdd3.svg);
}

.social-share-button .ssb-tumblr {
  background-image: url(/assets/social-share-button/tumblr-330a37f93cce7c27a750188d0bfdbed3a22f566b807e64d21131dcdc94e08ec3.svg);
}

.social-share-button .ssb-pinterest {
  background-image: url(/assets/social-share-button/pinterest-86203d156197cce4087fee058b920d275c535df5fd59d8caa83da0ef41d1ec7f.svg);
}

.social-share-button .ssb-douban {
  background-image: url(/assets/social-share-button/douban-46298c27e3bc6d59951c0bbc464339a5ba1b44e3b25b571874f1baacd7af2495.svg);
}

.social-share-button .ssb-wechat {
  background-image: url(/assets/social-share-button/wechat-d8852cc3396a7a53eba39595d2e9f638c93a34ab1a0f41bae4ff391b63815f56.svg);
}

.social-share-button .ssb-vkontakte {
  background-image: url(/assets/social-share-button/vkontakte-0c2b68277fade991d74efcbdb6f7b359a35e65156cbada9625a3fe8f73151c14.svg);
}

.social-share-button .ssb-odnoklassniki {
  background-image: url(/assets/social-share-button/odnoklassniki-579bf782bd70fe94748254cac2c8c3dc150cceb0d2a143399e3062246b5ecb39.svg);
}

.social-share-button .ssb-xing {
  background-image: url(/assets/social-share-button/xing-0ebccb4042c8c7220e471c4f569df2bf27da227db425525819b6848c86a1603e.svg);
}

.social-share-button .ssb-email {
  background-image: url(/assets/social-share-button/email-7067143cbe69d9d8cf25e67fda1a315d133c2b79074a09088bd712cc5c81135d.svg);
}

.social-share-button .ssb-reddit {
  background-image: url(/assets/social-share-button/reddit-730429c239b6990b67d0d4aaaeb6e9fe48c62267f889a412e81f5f1066ec625f.svg);
}

.social-share-button .ssb-hacker_news {
  background-image: url(/assets/social-share-button/hacker_news-d89b13fec49355a787389a776f2e03a0a38314abf93777b8865f8c5f146eaf8d.svg);
}

.social-share-button .ssb-telegram {
  background-image: url(/assets/social-share-button/telegram-a6b5607917f3e3efbcf35c3ed43356b05622fcfc533d2fbf5066621b78c1dbe4.svg);
}

.ss-wechat-dialog {
  width: 300px;
  position: fixed;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  z-index: 11001;
  font-size: 14px;
  line-height: 1.2em;
}

.ss-wechat-dialog .wechat-popup-header {
  font-weight: bold;
}

.ss-wechat-dialog .wechat-dialog-qr {
  text-align: center;
  margin: 25px 0;
}

.ss-wechat-dialog .wechat-popup-close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
  text-decoration: none;
  font-size: 16px;
}

.ss-wechat-dialog .wechat-popup-footer {
  text-align: left;
  line-height: 22px;
  color: #666;
}
/*

 */
/* line 8, ../../../../../.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/bundler/gems/decidim-20e2f16d4f2b/decidim-proposals/app/assets/stylesheets/decidim/proposals/social_share.css.scss */
.share-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 13, ../../../../../.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/bundler/gems/decidim-20e2f16d4f2b/decidim-proposals/app/assets/stylesheets/decidim/proposals/social_share.css.scss */
.social-share-button {
  display: inline-block;
  vertical-align: top;
}

/* line 17, ../../../../../.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/bundler/gems/decidim-20e2f16d4f2b/decidim-proposals/app/assets/stylesheets/decidim/proposals/social_share.css.scss */
.social-share-button .ssb-icon {
  margin-right: 5px;
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
}
