  </div><!--/.layout-wrapper-->
</main>
<span class="footer-release" title="<%= Decidim.config.release(:repo) %>/<%= Decidim.config.release(:branch) %>#<%= Decidim.config.release(:commit) %>">
  v.<%= Decidim.version %>
</span>
