<% if available_locales.length > 1 %>
  <div class="topbar__dropmenu language-choose show-for-medium" data-set="language-holder">
    <div class="js-append" id="google_translate_element"></div>
  </div>
<% end %>
