<%= render "layouts/decidim/application" do %>
  <main class="wrapper">
    <div class="row collapse">
      <div class="columns">
        <h1 class="heading1 text-center"><%= t("title", scope: "layouts.decidim.user_profile") %></h1>
      </div>
    </div>
    <div class="row collapse">
      <%= yield %>
    </div>
  </main>
<% end %>
