<div class="wrapper">
  <div class="row column">
    <div class="text-center">
      <h1 class="heading1 page-title">
        <%= title %>
      </h1>
    </div>

    <main>
      <%= cell "decidim/tos_page", :announcement %>

      <div class="columns small-12">
        <div class="card">
          <div class="card__content"><%= decidim_sanitize translated_attribute page.content %></div>
        </div>
      </div>

      <% if request.env['PATH_INFO'].include?("/cookies") %>

        <div class="columns small-12">
          <div class="card">
            <div class="card__content">
              <iframe
                style="border: 0; height: auto; width: 100%;"
                src="https://matomo.opensourcepolitics.eu/index.php?module=CoreAdminHome&action=optOut&language=fr&backgroundColor=&fontColor=3d393c&fontSize=15px&fontFamily=%22Roboto%20Slab%22%2C%20%22Roboto%22%2C%20%22Source%20Sans%20Pro%22%2C%20Helvetica%2C%20Arial%2C%20sans-serif"
              ></iframe>
            </div>
          </div>
        </div>

      <% end %>


      <%= cell "decidim/tos_page", :sticky_form %>
    </main>
  </div>
</div>
