@font-face {
    font-family: 'Ultramagnetic';
    src: asset-data-url('decidim/Ultramagnetic/Ultramagnetic.eot');
    src: local('Ultramagnetic'),
        font-url('decidim/Ultramagnetic/Ultramagnetic.eot?#iefix') format('embedded-opentype'),
        font-url('decidim/Ultramagnetic/Ultramagnetic.woff2') format('woff2'),
        font-url('decidim/Ultramagnetic/Ultramagnetic.woff') format('woff'),
        font-url('decidim/Ultramagnetic/Ultramagnetic.ttf') format('truetype'),
        font-url('decidim/Ultramagnetic/Ultramagnetic.svg#Ultramagnetic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
