// // Variables
$light-orange: #F39013;
$dark-orange: #E40521;
$jaune: #FDCD6D;
$orange: #F19D03;
$pink: #E4007D;
$purple: #78007D;
$primary: $orange;
$secondary: $dark-orange;
// $primary: #ef604d;
// $secondary: #599aa6;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;



@import "decidim/application";

// .logo-cityhall {
//   position: static;
//   margin: 0;
//   @media print, screen and (min-width: 40em) {
//     text-align: left;
//   }
// }


.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
      position: relative;
      display: block;
      margin: 0 -15px 5px  0;
      padding: 5px 10px;
      font-size: 90%;
      line-height: 17px;
      color: $secondary;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      cursor: pointer;
      white-space: normal !important;
      word-break: break-all !important;
      overflow-wrap: break-word !important;
      text-overflow: clip;
      overflow-x: hidden;

      &:hover {
        background: #e8e8e8;
      }
.topbar__user__logged {
  padding-right: 4.5rem;
}

.topbar__user__login {
  padding-right: 4.5rem;
}

.title-bar {
  background: linear-gradient(0.25turn, $light-orange, $dark-orange);
}

.omnipresent-banner {
  background-color: white;
  a {
    color: black;
    &:hover {
      color: $primary;
    }
  }

  &:focus {
    border-color: #238FF7;
    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

#user-settings-tabs > li:nth-child(3) {
  display: none;
}

.process_stats-item .icon.external-icon {
  fill: $primary;
}

.label.proposal-status {
  &.primary {
    background: #ef604d;
  }
  &.secondary {
    background: #599aa6;
    color: black;
  }
  &.success {
    background:#57d685;
  }
  &.warning {
    background:#ffae00;
  }
} // badge on proposals

.topbar__dropmenu>ul>li.is-dropdown-submenu-parent.is-active>a {
  color: black;
  opacity: 0.4;
}

.topbar__user .topbar__user__login>a {
  &:hover, &:focus {
    color: black;
    opacity: 0.4;
  }
}

#user-settings-tabs > li:nth-child(3) {
  display: none;
}

.process-header__hashtag a {
  color: white;
}

.row.collapse.buttons__row {
  margin-top: 10px;
}

.menu.is-dropdown-submenu.submenu.first-sub.vertical>li>a{color:$orange;}
.menu.is-dropdown-submenu.submenu.first-sub.vertical>li>a:hover{color:$dark-orange}
