// // Variables
//
$primary: #EB1B2A;
$secondary: #EB1B2A;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";

// .logo-cityhall {
//   position: static;
//   margin: 0;
//   @media print, screen and (min-width: 40em) {
//     text-align: left;
//   }
// }

.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
    position: relative;
    display: block;
    margin: 0 -15px 5px 0;
    padding: 5px 10px;
    font-size: 90%;
    line-height: 17px;
    color: $secondary;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    cursor: pointer;
    white-space: normal !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important;
    text-overflow: clip;
    overflow-x: hidden;

    &:hover {
      background: #e8e8e8;
    }
  }

  &:focus {
    border-color: #238FF7;
    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

#user-settings-tabs > li:nth-child(3) {
  display: none;
}

.title-bar {
  background: white;
}

.logo-wrapper {
  span {
    color: black !important
  }
}

.logo-wrapper span::before {
  border-left: 4px solid black !important
}

.topbar__notifications .icon, .topbar__conversations .icon {
  fill: black;
}

.topbar__notifications .icon, .topbar__conversations .icon {
  fill: black;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-top-color: black;
}

.topbar__dropmenu > ul > li > a {
  color: black;
  @media screen and (max-width: 40em) {
    color: white;
  }
}

// .topbar__dropmenu>ul>li.is-dropdown-submenu-parent.is-active>a{color:#F5F5F5}
.menu.is-dropdown-submenu.submenu.first-sub.vertical > li > a {
  color: $primary;
}

.topbar__menu {
  color: black;
}

// .menu.is-dropdown-submenu.submenu.first-sub.vertical>li>a:hover{color:#ba0230}
.topbar__user__login a {
  font-weight: normal;
  color: black;
  @media screen and (max-width: 40em) {
    color: #FFF;
  }
}

// .topbar__user__login a:focus,.topbar__user__login a:hover{color:#F5F5F5}

.card__link {
  color: black;
  &:hover {
    color: $primary;
  }
}

.tags a {
  color: black;
  &:hover {
    color: $primary;
  }
}

.card__footer.card__footer--spaces {
  background: rgba($primary, 0.06);
  border-top-color: rgba($primary, 0.6);
}
