// // Variables
//
$primary: #f15252;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";

// .logo-cityhall {
//   position: static;
//   margin: 0;
//   @media print, screen and (min-width: 40em) {
//     text-align: left;
//   }
// }


.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
      position: relative;
      display: block;
      margin: 0 -15px 5px  0;
      padding: 5px 10px;
      font-size: 90%;
      line-height: 17px;
      color: $secondary;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      cursor: pointer;
      white-space: normal !important;
      word-break: break-all !important;
      overflow-wrap: break-word !important;
      text-overflow: clip;
      overflow-x: hidden;

      &:hover {
        background: #e8e8e8;
      }
  }

  &:focus {
    border-color: #238FF7;
    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

.highlighted_proposals .card--proposal {
  width: 100%;
}

// Hide autorisation handler profile tab
// #user-settings-tabs > li:nth-child(3) {
//   display: none;
// }

// .main-nav__link--active a {
//   box-shadow: inset 0 -5px 0 0 $primary;
// }

// .topbar__notifications.is-active .icon {
//   fill: $primary;
// }
// .topbar__conversations.is-active .icon {
//   fill: $primary;
// }

// .topbar__user .topbar__user__login>a {
//   &:hover, &:focus {
//     color: $primary;
//     opacity: 0.8;
//   }
// }

// .topbar__dropmenu>ul>li.is-dropdown-submenu-parent.is-active>a {
//   color: $primary;
//   opacity: 0.8;
// }  //hover on active navbar
// .topbar__dropmenu .is-dropdown-submenu a {
//   &:hover, &:focus {
//     color: $primary;
//     opacity: 0.8;
//   }
// }  //dropdown links & hover

// .process-nav__link:hover, .process-nav__link:focus, .process-nav__link.is-active {
//   color: $primary;
// }
// .process-nav__link:hover svg, .process-nav__link:focus svg, .process-nav__link.is-active svg {
//   fill: $primary;
// } //link in process navbar

// .button {
//   &:hover, &:focus {
//     color: $primary;
//   }
// } //main buttons

// .card__button.button.small {
//   &:hover {
//     background: $primary;
//     color: black;
//   }
// } // card button on process
// .button_to .card__button.button.small {
//   &:hover {
//     background: $primary;
//     color: black;
//   }
// } //vote button
// .card__button.button.small.success {
//   &:hover {
//     background: $primary;
//     color: black;
//   }
// } //voted button

// .button.tiny.hollow {
//   &:hover {
//     border: 1px solid $primary;
//     color: $primary;
//     opacity: 1;
//   }
// } // button "view steps"
.button.hollow.secondary {
  &:hover {
    border: 1px solid $primary;
    background: white;
    color: $primary;
  }
  &:focus {
    border: 1px solid $primary;
    background: white;
    color: $primary;
  }
} // "more info" small buttons on processes

.card__link{
  &:hover{
    color: $primary;
  }
  &:focus {
    color: $primary;
  }
}

.card__title{
  &:hover{
    color: $primary;
  }
  &:focus {
    color: $primary;
  }
}

.order-by__tab {
  &:hover {
    color: $primary;
  }
  &:focus {
    color: $primary;
  }
}

.tags a {
  &:hover {
    color: $primary;
  }
  &:focus {
    color: $primary;
  }
}

.share-link {
  &:hover {
    color: $primary;
  }
  &:focus {
    color: $primary;
  }
}


.hero::after {
  background-color: black;
  opacity: 0.2;
}

.process-header__main::after {
  background-color: black;
  opacity: 0.2;
}

.highligted-content-banner::after {
  background-color: black;
  opacity: 0.2;
}

#user-settings-tabs > li:nth-child(3) {
  display: none;
}
