// // Variables
//
$primary: #2877ad;
$secondary: #e66938;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";

// .logo-cityhall {
//   position: static;
//   margin: 0;
//   @media print, screen and (min-width: 40em) {
//     text-align: left;
//   }
// }


.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
      position: relative;
      display: block;
      margin: 0 -15px 5px  0;
      padding: 5px 10px;
      font-size: 90%;
      line-height: 17px;
      color: $secondary;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      cursor: pointer;
      white-space: normal !important;
      word-break: break-all !important;
      overflow-wrap: break-word !important;
      text-overflow: clip;
      overflow-x: hidden;

      &:hover {
        background: #e8e8e8;
      }
  }

  &:focus {
    border-color: #238FF7;
    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

.highlighted_proposals .card--proposal {
  width: 100%;
}

// Hide autorisation handler profile tab
// #user-settings-tabs > li:nth-child(3) {
//   display: none;
// }

.main-footer__badge{
  position: initial;
}

.title-bar {
  background: #ffff !important;
}

.topbar__conversations .icon,
.topbar__notifications .icon {
  fill: grey;
}

.topbar__user > ul > li > a {
  font-weight: normal;
  color: black;
}

.topbar__user__login a {
  font-weight: normal;
  color: black;
}

.topbar__dropmenu > ul > li > a {
  font-weight: normal;
  color: black;
}

.topbar__edit__link a {
  font-weight: normal;
  color: black;
}

.icon--pencil .icon {
  font-weight: normal;
  color: black;
}

@media only screen and (max-width: 411px) {
  .topbar__menu button {
    color: #000;
  }

  .topbar__user__login a {
    color: #fff;
  }

  .topbar__dropmenu > ul > li > a {
    color: #fff;
  }
}
