// // Variables
//
$primary: #005E8B;
$secondary: #5AA1D8;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";

@import "fontface";
// TODO : PR on decidim-core/app/assets/stylesheets/decidim/utils/_settings.scss to add !default on this variable.
$body-font-family: 'Roboto', 'Source Sans Pro', Helvetica, Arial, sans-serif;

body, h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: $body-font-family;
}

$title-bar-background: #FFFFFF;
$navbar-background: darken( $title-bar-background, 10%);

.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
    position: relative;
    display: block;
    margin: 0 -15px 5px  0;
    padding: 5px 10px;
    font-size: 90%;
    line-height: 17px;
    color: $secondary;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    cursor: pointer;
    white-space: normal !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important;
    text-overflow: clip;
    overflow-x: hidden;

    &:hover {
      background: #e8e8e8;
    }
  }

  &:focus {
    border-color: #238FF7;
    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

.highlighted_proposals .card--proposal {
  width: 100%;
}

// Hide autorisation handler profile tab
// #user-settings-tabs > li:nth-child(3) {
//   display: none;
// }

.title-bar {
  background: $title-bar-background;
  color: $dark-gray;
}

.navbar {
  background: $navbar-background;
}

.topbar__search svg {
  color: $dark-gray;
}

@media print, screen and (min-width: 40em) {
  .topbar__search input,
  .topbar__search input:focus {
    background: darken( $title-bar-background, 10%);
    color: $dark-gray;

    &::placeholder {
      color: darken($medium-gray, 20%);
    }
  }
}

@media print, screen and (min-width: 40em) {
  .main-nav__link--active a {
    box-shadow: inset 0 4px 0 0 $primary;
  }
}

.main-nav__link a {
  color: $dark-gray;
  &:hover {
    background: darken( $title-bar-background, 20%);;
    color: $dark-gray;
  }
}

.topbar__user__login a {
  color: lighten($dark-gray, 20%);
}

.topbar__dropmenu > ul > li > a {
  color: $dark-gray;

  &:hover, &:active {
    color: $secondary;
  }

  &::after{
    margin-top: -1px !important;
    border-top-color: $dark-gray !important;
  }
}

.topbar__dropmenu .is-dropdown-submenu li {
  a {
    color: darken($secondary, 10%);
  }

  &:hover a {
    color: $secondary;
  }
}

.dropdown.menu .is-active > a {
  color: $secondary;
}

.main-footer {
  background: $title-bar-background;
  a {
    color: $dark-gray;
  }
}

.mini-footer {
  background: darken($navbar-background,10%);
  color: $dark-gray;
  a {
    color: lighten($dark-gray, 20%);
  }
}

.main-footer__badge {
  text-align: center;
}

@media print, screen and (min-width: 64em) {
  .main-footer__badge {
    position: relative;
    text-align: left;
  }
}
