// // Variables
//
$primary: #FFFFFF;
$secondary: #DD9E23;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";

$title-bar-background: #FFFFFF;
$navbar-background: darken( $title-bar-background, 10%);

.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
    position: relative;
    display: block;
    margin: 0 -15px 5px  0;
    padding: 5px 10px;
    font-size: 90%;
    line-height: 17px;
    color: $secondary;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    cursor: pointer;
    white-space: normal !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important;
    text-overflow: clip;
    overflow-x: hidden;

    &:hover {
      background: #e8e8e8;
    }
  }

  &:focus {
    border-color: #238FF7;
    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

#user-settings-tabs > li:nth-child(3) {
  display: none;
}

.title-bar {
  background: $title-bar-background;
}

.navbar {
  background: $navbar-background;
}

@media print, screen and (min-width: 40em) {
  .topbar__search input,
  .topbar__search input:focus {
    background: darken( $title-bar-background, 10%);
  }
}

@media print, screen and (min-width: 40em) {
  .main-nav__link--active a {
    box-shadow: inset 0 4px 0 0 #e8e8e8;
  }
}

.dropdown.menu .is-active > a {
  color: #e8e8e8;
}

.topbar__dropmenu .is-dropdown-submenu li:hover a {
  color: $secondary;
}

.main-footer {
  background: $title-bar-background;
  a {
    color: #e8e8e8;
  }
}

.mini-footer {
  background: $navbar-background;
}