// // Variables
//
// $primary: #ef604d;
// $secondary: #599aa6;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;
@import "decidim/application";
@import "fontface";

$title-bar-background: #4f4f4f;
$navbar-background: darken($title-bar-background, 10%);

$primary-font: 'Roboto', Roboto, Helvetica, Arial, sans-serif;
$heading-font: 'Panton', Roboto, Arial, sans-serif;

body {
  font-family: $primary-font;
  font-weight: normal;
}

.logo-wrapper {
  font-family: $heading-font;
  font-weight: bold;
}

.main-nav {
  font-family: $heading-font;
  font-weight: bold;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4, .heading4 {
  font-family: $heading-font;
  font-weight: bold;

  .footer__subhero & {
    font-family: $primary-font;
  }
}

.card__title, .home-pam__title {
  font-family: $primary-font;
  font-weight: bold;
}

.home-pam__number {
  font-family: $heading-font;
  font-weight: bold;
}

.footer__subhero {
  font-family: $primary-font;
}

.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
    position: relative;
    display: block;
    margin: 0 -15px 5px 0;
    padding: 5px 10px;
    font-size: 90%;
    line-height: 17px;
    color: $secondary;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    cursor: pointer;
    white-space: normal !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important;
    text-overflow: clip;
    overflow-x: hidden;

    &:hover {
      background: #e8e8e8;
    }
  }

  &:focus {
    border-color: #238FF7;

    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

.highlighted_proposals .card--proposal {
  width: 100%;
}

// Hide autorisation handler profile tab
// #user-settings-tabs > li:nth-child(3) {
//   display: none;
// }

.main-footer__badge {
  text-align: center;
}

@media print, screen and (min-width: 64em) {
  .main-footer__badge {
    position: relative;
    text-align: left;
  }
}

.main-footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer__badge.secondary {
  padding: .5rem 1rem;
}


.mini-footer .row {
  display: flex;
  align-items: center;
  justify-content: center;

  .decidim-logo {
    display: flex;
    flex-grow: 0;
    width: auto;
    margin: 0 .5rem;
  }

  img {
    height: 1rem;
  }

  .mf-text {
    font-size: 80%;
    line-height: 1rem;

    a {
      font-weight: 600;

      &:hover {
        color: white;
      }
    }
  }
}

.logo-wrapper a {
  display: flex;
  align-items: center;

  img {
    display: flex;
    margin-right: .5rem;
  }

  span {
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    border-left: 2px solid $navbar-background;
    text-align: left;
    padding: .5rem;
    line-height: 1;
    position: relative;
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  @media print, screen and (min-width: 64em) {
    flex-direction: row;
  }

  .primary {
    padding: .5rem 1rem;
  }
}

.edit-account {
  div {
    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      label {
        &:nth-of-type(4) {
          display: none;
        }

        &:last-of-type {
          display: none;
        }
      }
    }
  }
}

.complete-registration {
  .card {
    &:first-of-type {
      display: none;
    }
  }
}

#interactive_map {
  .district-number,
  .marker-cluster div {
    font-family: $heading-font !important;
  }
}
