// // Variables
//
$primary: #008094;
$secondary: #008094;
// $success: #57d685;
$warning: #F39E19;
// $alert: #ec5840;

// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
$meetings: #F39E19;

// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";

@import "fontface";

$title-bar-background: #008094;
$navbar-background: #00515e;

$primary-font: 'Roboto', Helvetica, Roboto, Arial, sans-serif;
$heading-font: 'Bitter', Helvetica, Roboto, Arial, sans-serif;

.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
      position: relative;
      display: block;
      margin: 0 -15px 5px  0;
      padding: 5px 10px;
      font-size: 90%;
      line-height: 17px;
      color: $secondary;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      cursor: pointer;
      white-space: normal !important;
      word-break: break-all !important;
      overflow-wrap: break-word !important;
      text-overflow: clip;
      overflow-x: hidden;

      &:hover {
        background: #e8e8e8;
      }
  }

  &:focus {
    border-color: #238FF7;
    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

// Hide autorisation handler profile tab
// #user-settings-tabs > li:nth-child(3) {
//   display: none;
// }

// villeurbanne

body {
  font-family: $primary-font;
  font-weight: normal;
}

.title-bar {
  background: $title-bar-background;
}

.logo-wrapper {
  font-family: $heading-font;
  font-weight: bold;
}

.navbar {
  background: $navbar-background;
}

.main-nav {
  font-family: $heading-font;
  font-weight: bold;
}

@media print, screen and (min-width: 40em) {
  .topbar__search input,
  .topbar__search input:focus {
    background: darken( $title-bar-background, 10%) // #005461;
  }
}

@media print, screen and (min-width: 40em) {
  .main-nav__link--active a {
    box-shadow: inset 0 4px 0 0 #e8e8e8;
  }
}

.dropdown.menu .is-active > a {
  color: #e8e8e8;
}

.topbar__dropmenu .is-dropdown-submenu li:hover a {
  color: $warning;
}

@media screen and (min-width: 50em) {
  section.hero .mediumlarge-3 {
    width: 33%;

    .hero-cta {
      white-space: nowrap;
    }
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4, .heading4 {
  font-family: $heading-font;
  .footer__subhero & {
    font-family: $primary-font;
  }
}

.card__title, .home-pam__title {
  font-family: $primary-font;
  font-weight: bold;
}

.home-pam__number {
  font-family: $heading-font;
  font-weight: 700;
}

.footer__subhero {
  font-family: $primary-font;
}

.main-footer {
  background: $title-bar-background;
  a {
    color: #e8e8e8;
  }
}

.mini-footer {
  background: $navbar-background;
}
