// // Variables
//
$primary: #EB1B2A;
$secondary: #EB1B2A;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

$gray-dark: darken(#72758A, 30);
$red: #EB1B2A;
$blue: #47A5B8;

@import "decidim/application";

.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;
  padding-bottom: 0;

  option {
    position: relative;
    display: block;
    margin: 0 -15px 5px 0;
    padding: 5px 10px;
    font-size: 90%;
    line-height: 17px;
    color: $secondary;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    cursor: pointer;
    white-space: normal !important;
    word-break: break-all !important;
    overflow-wrap: break-word !important;
    text-overflow: clip;
    overflow-x: hidden;

    &:hover {
      background: #e8e8e8;
    }
  }

  &:focus {
    border-color: #238FF7;

    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

.footer__subhero.extended.subhero.home-section {
  display: none;
}

.wrapper-home.home-section {
  display: none;
}

.title-bar {
  background: white;
}

.logo-wrapper span {
  color: #000 !important;
}

.topbar__conversations .icon,
.topbar__notifications .icon {
  fill: $gray-dark;
  opacity: 0.6;
}

.topbar__notifications.is-active .icon {
  fill: $success;
}

.topbar__conversations.is-active .icon {
  fill: $primary;
}

.topbar__user .topbar__user__login > a {
  color: $gray-dark;

  &:focus,
  &:hover {
    color: $gray-dark;
    opacity: 0.8;
  }
}

.topbar__dropmenu > ul > li > a {
  color: $gray-dark;
}

// language & user name

.topbar__dropmenu > ul > li.is-dropdown-submenu-parent.is-active > a {
  color: $gray-dark;
  opacity: 0.8;
}

.topbar__menu {
  color: #000;
}

//hover on active navbar
.topbar__dropmenu .is-dropdown-submenu a {
  color: $gray-dark;

  &:focus,
  &:hover {
    color: $gray-dark;
    opacity: 0.8;
  }
}

//dropdown links & hover
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-top-color: $gray-dark !important;
  opacity: 0.6;
}

// arrows of dropdown menu

.label.proposal-status {
  background: $red;

  &.secondary {
    background: $blue;
    color: white;
  }

  &.success {
    background: $success;
    color: black;
  }

  &.warning {
    background: $primary;
    color: black;
  }
}

.topbar__edit__link a{
  color: $secondary;

  &:hover{
    background: $navbar-bg-hover;
    color: darken($secondary,20);
  }
}

// badge on proposals

.hero {
  &::after {
    background-color: rgba($black, 0);
  }
}

// opacity of background color

.process-header__main {
  &::after {
    background-color: rgba($black, 0);
  }
}

.highligted-content-banner {
  &::after {
    background-color: rgba($black, 0);
  }
}

// Hide autorisation handler profile tab
#user-settings-tabs > li:nth-child(3) {
  display: none;
}
